<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cola.*"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceRegistry" class="cola.registry.zookeeper.ZkServiceRegistry">
        <constructor-arg name="registryAddress" value="${cola.registry.address}"/>
    </bean>

    <bean id="taskExecutor" class="cola.executor.jdk.TaskExecutorImpl">
        <constructor-arg name="threads" value="${cola.executor.coreSize}"/>
    </bean>
</beans>